.todoList {
  background-color: chocolate;
  border-radius: 2px;
  padding: 5px;
}
#echarts {
  height: 65vh;
  max-width: 800px;
  margin: 45px auto;
}
button.json {
  cursor: pointer;
  margin-left: 10px;
}
button.json:hover {
  color: lightskyblue;
}
.display-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 100px; 
  margin-top: 35px;
  margin-left: 35px;
} 