/* 开发环境*/
/* .content.appear
 {
  display: block;
}  */
/* 开发内容 最后需要添加appear */
/* Module1 */
.content.appear
 {
  width: 100vw;
  height: 100vh;
  /* background-color: #666; */
  display: grid;
  grid: 10vh 1fr 8vh / 1fr;
  transition: all .3s;
}
.content {
  background: center/cover no-repeat url("../media/1.jpg");
}
.content.forth {
  background: center/cover no-repeat url("../media/Sketch003.jpg");
}
.content.fifth {
  background: center/cover no-repeat url("../media/bgd_blurred.jpg");
}

.content.appear
 .header {
  grid-area: 0/1/1/0;
  display: flex;
  align-items: flex-end;
  padding: 5px;
  padding-top: 0;
  border-bottom: 2px solid tomato; 
  font-weight: 600;
  position: relative;

}
.content.appear .line {
  content: "";
  width: 40px;
  height: 2px;
  background-color: lightblue;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;

  transition: all .8s;
}
.content.appear
 .header label {
  color: blueviolet;
  font-weight: 600;
  padding-right: 5vw;
  cursor: pointer;
}
.content.appear
 .header .section {
  padding-top: 20px;
  margin-right: 2vw;
  cursor: pointer;

  /* iconfont */
  display: flex;
  align-items: center;
}

  /*MENU*/
.content.appear .section.active,
.content.appear .section:hover {
  color:lightseagreen;
}

.content.forth .section.active,
.content.forth .section:hover {
  color: white;
}
.content.forth #explore.active,
.content.forth #explore:hover {
  color: crimson;
}

.content.fifth {
  color: white;
}
.content.fifth .section.active,
.content.fifth .section:hover {
  color: lightgreen;
}

.content.appear
 .main {
  grid-area: 1/1/2/0;
}
.content.appear
 .main .module {
  display: none;
}
.content.appear
 .main .module.active {
  display: block;
}
.content.appear
 .footer{
  grid-area: 2/1/3/0;
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1vh;
}

span.iconfont {
  margin-right: 4px;
  cursor: pointer;
}
