/* Menu */


.content.fifth {
  color: white;
}
/* .content.fifth .section.active,
.content.fifth .section:hover {
  color: lightgreen;
} */

/* background */
.content.fifth {
  background: center/cover no-repeat url("../media/test/oTjNFV.jpg");
}